.vs
*.pdb
*.idb
*.ilk
*.vcxproj.FileListAbsolute.txt
*.vcxproj.user
*.lastbuildstate
*.tlog
*.Build.CppClean.log
*.exe.recipe
*.iobj
*.ipdb

AeroMap/Debug/
AeroMap/Release/
AeroMap.tlog/
AeroMap/x64/
AeroMap/Data/AeroMap.log

Lib/CppUnitLite/x64/
Lib/gdal-3.2.1/x64/
Lib/jpeg-9a/x64/
Lib/libpng-1.6.20/x64/
Lib/pdal-2.3/x64/
Lib/proj-7.1.1/build_vs14_x64/src/x64/

Lib/tiff-4.7.0/Debug/
Lib/tiff-4.7.0/Release/
Lib/tiff-4.7.0/libtiff/Debug/
Lib/tiff-4.7.0/libtiff/Release/
Lib/tiff-4.7.0/x64/
Lib/tiff-4.7.0/x64/Debug/
Lib/tiff-4.7.0/x64/Release/
Lib/tiff-4.7.0/tiff.dir/
Lib/tiff-4.7.0/tiff_mkg3states.dir/
Lib/tiff-4.7.0/tiffxx.dir/
Lib/tiff-4.7.0/tools/Debug/
Lib/tiff-4.7.0/tools/Release/
Lib/tiff-4.7.0/libtiff/tiff.dir/

Lib/zlib/x64/

gdal.lib
pdal.lib
proj.lib
proj_d.lib

UnitTests/TestGcpFile/x64/
UnitTests/TestLibTiff/x64/
UnitTests/TestPhoto/x64/
UnitTests/TestProj/x64/
UnitTests/TestTiffFile/x64/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

!UnitTests/TestModel_OBJ/Data/*.obj

